@import '../assets/Scss/variable.scss';
$dark-black: rgb(33,33,33);

.contactContainer{
    background-color: $gray-color ;
    padding: $logo-height 0;
    h2{
        color: $black-color;
        margin: 0;
        text-align: center;
        padding: 30px ;
    }
    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        width: 70%;
        input, textarea{
            padding: 10px 19px;     
            margin: 10px 0;
            border: 1px solid $dark-orange;
            border-radius: 20px;    
            background-color: transparent; 
        }
        input{
            width: 48%;
        }
        textarea{
            width: 100%;
        }
        button{
            background-color: $black-color;
            padding: 8px 15px;
            color: $dark-orange;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            margin-left: auto;
            box-shadow: 0px 3px 5px -3px  $black-color;
            &:hover{
            background-color: $dark-black;
            }
            &:active {
                box-shadow: unset ;  
                outline: none;
                border: none;
            }
            &:focus {outline:0;}
        }
    }
}

@media screen and (max-width: 800px){
    .contactContainer{
        form{
            input{
                width: 100%;
            }
        }
    }
}