@import '../assets/Scss/variable.scss';
.projectList{
    h2{
        color: $black-color;
        margin: 0;
        text-align: center;
        padding: 30px ;
    }
    .projectContainer{
        
    }
}